* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
  }
  
  body {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  span {
    font-size: 14px;
    font-weight: 600;
    color: #a09f9f;
  }
  
  .navbar.scrolled {
    background-color: rgba(27, 36, 48, 0.9);
  }
  
  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 60px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-5%);
  }
  
  .navbar-logo img {
    height: 40px;
    width: auto;
    display: block;
    margin: 0;
    border-radius: 50%;
  }
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 10px;
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
  }
  
  .navbar-menu-left {
    margin-right: auto;
  }
  
  .navbar-menu-right {
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    width: 200px;
    height: 30px;
    padding: 5px;
  }
  
  /* Resto del código CSS para el navbar */
  .user-profile {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .user-profile img {
    height: 30px;
    width: auto;
    margin-right: 5px;
  }
  
  .user-name {
    font-size: 14px;
  }
  
  .contenedor {
    width: 100%;
    columns: 5;
    column-gap: 15px;
    padding: 15px;
  }
  
  img,
  video {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
  }
  
  img:hover,
  video:hover {
    opacity: 0.8;
    transform: translateY(-5px);
    position: relative;
  }
  
  img:hover::after,
  video:hover::after {
    content: 'Lorem ipsum dolor sit amet ';
    display: block;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-5%);
  }
  .navbar-player .control-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .navbar-player .control-button img {
    width: 30px;
    height: 30px;
  }
  
  .navbar-player .control-button img.playing {
    animation: playAnimation infinite 1s;
  }
  
  @keyframes playAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Google Font Import - Poppins */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
  }
  
  :root{
      /* ===== Colors ===== */
      --body-color: #E4E9F7;
      --sidebar-color: #FFF;
      --primary-color: #695CFE;
      --primary-color-light: #F6F5FF;
      --toggle-color: #DDD;
      --text-color: #707070;
  
      /* ====== Transition ====== */
      --tran-03: all 0.2s ease;
      --tran-03: all 0.3s ease;
      --tran-04: all 0.3s ease;
      --tran-05: all 0.3s ease;
  }
  
  
  
  ::selection{
      background-color: var(--primary-color);
      color: #fff;
  }
  
  body.dark{
      --body-color: #18191a;
      --sidebar-color: #242526;
      --primary-color: #3a3b3c;
      --primary-color-light: #3a3b3c;
      --toggle-color: #fff;
      --text-color: #ccc;
  }
  
  /* ===== Sidebar ===== */
   .sidebar{
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 250px;
      padding: 10px 14px;
      background: var(--sidebar-color);
      transition: var(--tran-05);
      z-index: 100;  
  }
  .sidebar.close{
      width: 88px;
  }
  
  /* ===== Reusable code - Here ===== */
  .sidebar li{
      height: 50px;
      list-style: none;
      display: flex;
      align-items: center;
      margin-top: 10px;
  }
  
  .sidebar header .image,
  .sidebar .icon{
      min-width: 60px;
      border-radius: 6px;
  }
  
  .sidebar .icon{
      min-width: 60px;
      border-radius: 6px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
  }
  
  .sidebar .text,
  .sidebar .icon{
      color: var(--text-color);
      transition: var(--tran-03);
  }
  
  .sidebar .text{
      font-size: 17px;
      font-weight: 500;
      white-space: nowrap;
      opacity: 1;
  }
  .sidebar.close .text{
      opacity: 0;
  }
  /* =========================== */
  
  .sidebar header{
      position: relative;
  }
  
  .sidebar header .image-text{
      display: flex;
      align-items: center;
  }
  .sidebar header .logo-text{
      display: flex;
      flex-direction: column;
  }
  header .image-text .name {
      margin-top: 2px;
      font-size: 18px;
      font-weight: 600;
  }
  
  header .image-text .profession{
      font-size: 16px;
      margin-top: -2px;
      display: block;
  }
  
  .sidebar header .image{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .sidebar header .image img{
      width: 40px;
      border-radius: 6px;
  }
  
  .sidebar header .toggle{
      position: absolute;
      top: 50%;
      right: -25px;
      transform: translateY(-50%) rotate(180deg);
      height: 25px;
      width: 25px;
      background-color: var(--primary-color);
      color: var(--sidebar-color);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      cursor: pointer;
      transition: var(--tran-05);
  }
  
  body.dark .sidebar header .toggle{
      color: var(--text-color);
  }
  
  .sidebar.close .toggle{
      transform: translateY(-50%) rotate(0deg);
  }
  
  .sidebar .menu{
      margin-top: 40px;
  }
  
  .sidebar li.search-box{
      border-radius: 6px;
      background-color: var(--primary-color-light);
      cursor: pointer;
      transition: var(--tran-05);
  }
  
  .sidebar li.search-box input{
      height: 100%;
      width: 100%;
      outline: none;
      border: none;
      background-color: var(--primary-color-light);
      color: var(--text-color);
      border-radius: 6px;
      font-size: 17px;
      font-weight: 500;
      transition: var(--tran-05);
  }
  .sidebar li a{
      list-style: none;
      height: 100%;
      background-color: transparent;
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      border-radius: 6px;
      text-decoration: none;
      transition: var(--tran-03);
  }
  
  .sidebar li a:hover{
      background-color: var(--primary-color);
  }
  .sidebar li a:hover .icon,
  .sidebar li a:hover .text{
      color: var(--sidebar-color);
  }
  body.dark .sidebar li a:hover .icon,
  body.dark .sidebar li a:hover .text{
      color: var(--text-color);
  }
  
  .sidebar .menu-bar{
      height: calc(100% - 55px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: scroll;
  }
  .menu-bar::-webkit-scrollbar{
      display: none;
  }
  .sidebar .menu-bar .mode{
      border-radius: 6px;
      background-color: var(--primary-color-light);
      position: relative;
      transition: var(--tran-05);
  }
  
  .menu-bar .mode .sun-moon{
      height: 50px;
      width: 60px;
  }
  
  .mode .sun-moon i{
      position: absolute;
  }
  .mode .sun-moon i.sun{
      opacity: 0;
  }
  body.dark .mode .sun-moon i.sun{
      opacity: 1;
  }
  body.dark .mode .sun-moon i.moon{
      opacity: 0;
  }
  
  .menu-bar .bottom-content .toggle-switch{
      position: absolute;
      right: 0;
      height: 100%;
      min-width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      cursor: pointer;
  }
  .toggle-switch .switch{
      position: relative;
      height: 22px;
      width: 40px;
      border-radius: 25px;
      background-color: var(--toggle-color);
      transition: var(--tran-05);
  }
  
  .switch::before{
      content: '';
      position: absolute;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      background-color: var(--sidebar-color);
      transition: var(--tran-04);
  }
  
  body.dark .switch::before{
      left: 20px;
  }
  
  .home{
      position: absolute;
      top: 0;
      top: 0;
      left: 250px;
      height: 100vh;
      width: calc(100% - 250px);
      background-color: var(--body-color);
      transition: var(--tran-05);
  }
  .home .text{
      font-size: 30px;
      font-weight: 500;
      color: var(--text-color);
      padding: 12px 60px;
  }
  
  .sidebar.close ~ .home{
      left: 78px;
      height: 100vh;
      width: calc(100% - 78px);
  }
  body.dark .home .text{
      color: var(--text-color);
  }
  .home {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: -1;
  }
  
  .home .text {
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    padding: 12px 60px;
  }
  
  .sidebar header .image-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Ajusta la distancia vertical según sea necesario */
  }
  
  .sidebar header .image-text .image {
    min-width: 80px; /* Ajusta el ancho mínimo según sea necesario */
    border-radius: 6px;
  }
  
  .sidebar header .image-text .image img {
    width: 60px; /* Ajusta el tamaño del logo según sea necesario */
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  
  .sidebar.close header .image-text .image img {
    width: 40px; /* Ajusta el tamaño del logo cuando el menú se cierra */
  }
  
  .Contenedor-info{
    width: 98.5%;
    height: 30%;
    background-color: transparent;
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    flex-direction:row;
    /*border-radius: 18px;*/
  }
  .Contenedor-Musica{
    width: 98.5%;
    height: 70%;
    background-color: transparent;
    margin-left: 10px;
    flex-direction:row;
  }
  .contenedor{
    width: 98.5%;
    height: 100%;
    background-color: rgba(248, 248, 248, 0.2);
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction:column;
    border-radius: 18px;
  }
  .cont-img{
      width: 15%;
      height: 80%;
      background-color: transparent;
      margin-left: 10px;
      margin-top: 20px;
      display: flex;
      border-radius: 18px;
  }
  .cont-text{
    width: 40%;
    height: 80%;
    background-color: transparent;
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    border-radius: 18px;
    display: flex;
    flex-direction:column;
}
.Musica1{
    width: 98%;
    height: 7%;
    background-color: rgba(248, 248, 248, 0.603);
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
}
.Musica2{
  width: 98%;
  height: 7%;
  background-color: rgba(7, 7, 7, 0.075);
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
}

.Musica1:hover, .Musica2:hover{
  /* Estilos cuando el mouse está sobre el contenedor */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.993); /* Sombra en el contenedor */
}
.Boton{
  width: 17%;
  height: 20%;
  background-color: rgba(7, 7, 7, 0.075);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 10px;
  border-radius: 18px;
  text-align: center;
}
.Boton:hover{
  /* Estilos cuando el mouse está sobre el contenedor */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.993); /* Sombra en el contenedor */
}
.vertical{
  transform: rotate(-90deg);
  max-width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}