/* Estilos para el slider */
.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
  }

  .slider-container {
    display: flex;
    width: 70%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .slide {
    position: relative;
    flex: 0 0 100%;
    width: 200%;
    height: 100%;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide .slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    text-align: center;
  }

  .slide .slider-navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .slide .slider-navigation button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 18px;
    color: #fff;
  }
  .m-btn{
    border: 2px solid #23e3c2;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background: #23e3c2;
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}
#radio4:checked ~.first{
    margin-left: -60%;
}